<%= form_with(model: list, class: "contents") do |form| %>
  <div class="pt-8">
    <h3 class="text-lg font-bold">Create new list</h3>
    <% if list.errors.any? %>
      <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
        <h2><%= pluralize(list.errors.count, "error") %> prohibited this list from being saved:</h2>

        <ul>
          <% list.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="my-5">
      <%= form.text_field :title, placeholder: 'Title', class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
    </div>

    <div class="my-5">
      <%= form.text_field :description, placeholder: 'Description', class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
    </div>

    <div class="inline">
      <%= form.submit class: "mt-2 rounded-lg py-3 px-5 bg-green font-medium text-white h-fit cursor-pointer" %>
    </div>
  </div>
<% end %>
