<div id="<%= dom_id list %>" div class="p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray dark:border-gray-700 flex flex-col">

  <div class="flex item-center justify-between items-center">
    <div class="flex flex-col">
      <h5 class="text-2xl font-bold tracking-tight text-gray-dark dark:text-white">
        <%= list.title %>
      </h5>

      <p class="text-base italic">
      <%= list.description %>
      </p>

      <p class="text-base">
      <%= list.wishlist_items.count %> items
      </p>
    </div>
    <%= link_to "View this list", list_wishlist_items_path(list), class: "mt-2 rounded-lg py-3 px-5 bg-blue font-medium text-white h-fit" %>
  </div>
</div>
