<%= form_for [@list, wishlist_item] do |form| %>
  <% if wishlist_item.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(wishlist_item.errors.count, "error") %> prohibited this wishlist_item from being saved:</h2>

      <ul>
        <% wishlist_item.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="flex gap-2 items-center flex-wrap flex-col w-full md:flex-row md:flex-nowrap py-8">
    <div class="w-full md:w-fit">
      <%= form.text_field :url, placeholder: "URL", class: "text-input" %>
    </div>

    <div class="w-full md:w-fit md:grow">
      <%= form.text_field :title, placeholder: "Title", class: "text-input" %>
    </div>

    <div class="w-full md:w-fit md:grow">
      <%= form.text_field :description, placeholder: "Description", class: "text-input" %>
    </div>

    <div class="w-full md:w-fit md:grow">
      <%= form.submit "Add item", class: "mt-2 rounded-lg py-3 px-5 bg-green font-medium text-white h-fit cursor-pointer w-full" %>
    </div>
  </div>
<% end %>
