<%= form_for [@list, wishlist_item] do |form| %>
  <% if wishlist_item.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(wishlist_item.errors.count, "error") %> prohibited this wishlist_item from being saved:</h2>

      <ul>
        <% wishlist_item.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="flex gap-2 items-center flex-wrap flex-col w-full py-8">
    <div class="w-full">
      <%= form.text_field :url, placeholder: "URL", class: "text-input" %>
    </div>

    <div class="w-full">
      <%= form.text_field :title, placeholder: "Title", class: "text-input" %>
    </div>

    <div class="w-full">
      <%= form.text_area :description, placeholder: "Description", class: "text-input", rows: 7 %>
    </div>

    <div class="w-full flex gap-2">
      <%= link_to "Back to list", list_wishlist_items_path(@list), class: "button-default"  %>
      <%= form.submit "Update", class: "button-success" %>
    </div>
  </div>
<% end %>
