<div id="<%= dom_id wishlist_item %>">
  <div class="p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray dark:border-gray-700 flex flex-col gap-2">
    <h5 class="text-2xl font-bold tracking-tight dark:text-white">
      <%= wishlist_item.title %>
    </h5>
    <p class="font-normal">
    <%= wishlist_item.description %>
    </p>

    <div class="flex gap-2 flex-col md:flex-row">
      <%= link_to "Edit item" , edit_list_wishlist_item_path(@list, wishlist_item), class: "button-primary button--full-width" %>
      <a target="_blank" href="<%= wishlist_item.url %>"  class="button-default button--full-width">
        Visit link
      </a>
      <%= button_to "Delete item", list_wishlist_item_path(@list, wishlist_item), method: :delete, form: {data: {turbo_confirm: "Delete item #{wishlist_item.title}?"}}, class: "button-danger button--full-width"  %>
    </div>
  </div>
</div>
