<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <% content_for :title, "Wishlist" %>

  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl mb-4">
      <%= @list.title %>
    </h1>
  </div>

  <div class="flex justify-between items-center">
    <%= turbo_frame_tag id="new_list_wishlist_item", src:new_list_wishlist_item_path(list: @list.id), class: "w-full" %>
  </div>

  <div class="min-w-full">
    <div id="wishlist_items" class="flex flex-col gap-2">
      <% @wishlist_items.each do |wishlist_item| %>
        <%= render wishlist_item %>
      <% end %>
    </div>
  </div>

  <div class="py-8">
    <%= button_to "Destroy this wishlist", @list, method: :delete, form: {data: {turbo_confirm: 'Delete this wishlist permanently? This cannot be undone.'}}, class: "mt-2 rounded-lg py-3 px-5 bg-red font-medium w-full md:w-fit"  %>
  </div>
</div>
