<%= form_for [@list, list_share] do |form| %>
  <% if list_share.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(list_share.errors.count, "error") %> prohibited this list_share from being saved:</h2>

      <ul>
        <% list_share.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :share_type %>
    <%= form.select :share_type, options_for_select([["Shareable link", 'public_link'], ["Wishlist user", 'user']]) %>
  </div>

  <div class="inline">
    <%= form.submit "Share", class: "button-success" %>
  </div>
<% end %>
