<%= form_with(model: list_share, class: "contents") do |form| %>
  <% if list_share.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(list_share.errors.count, "error") %> prohibited this list_share from being saved:</h2>

      <ul>
        <% list_share.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :user_id %>
    <%= form.text_field :user_id, class: "text-input" %>
  </div>

  <div class="my-5">
    <%= form.label :type %>
    <%= form.number_field :type, class: "text-input" %>
  </div>

  <div class="my-5">
    <%= form.label :list_id %>
    <%= form.text_field :list_id, class: "text-input" %>
  </div>

  <div class="inline">
    <%= form.submit class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
